.address{
  align-items:center;
  position:absolute;
  font-size:2rem;
  margin-top:80px;
  padding:1rem;
  right:0;


}
.address i {
  padding-left:0.5rem; 
}
.address p1{
  font-size:1.2rem;

}

.balance{
  position:absolute;
  font-size:1.2rem;
  margin-top:80px;
  padding: 3.5rem 1rem;
  right:0;
  
}

.wrong-text p1{
  position:absolute;
  font-size:1.1rem;
  margin-top:80px;
  padding:0.5rem;
  text-align:center;
  color:rgb(255, 0, 0);
  width:100%;
}
.text-network{
  font-weight: 700;
}

.text-change{
  top:1.5rem;
  
}

@media screen and (min-width:960px){
  .address{
    font-size:2.5rem;

  }
  
  .address p1{
    font-size:2rem;

  }
  .balance{
    font-size:1.5rem;
    padding:1.8rem;
    left:0;

  }
}