/*for mobile*/
.market-back-navbar{
  background-color:#2A0944;
  width:100vw;
  position: fixed;
  z-index:20;
}
.market-navbar {
  font-family: Georgia, sans-serif, "PT Sans", "Times";
  background: #3B185F;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius:0px 0px 40px 40px;
}
.market-navbar-name{
  color: #000000;
  margin-left:0;
  font-size:1rem;
  position: absolute;
  top: 20px;
  left: 0;
  transform: translate(25%, 50%);
  font-weight: 900;
}
.market-main-logo {  
  background-image: url("./../../../public/Logo/mainLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding:2rem;
  
}
.market-menu-mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 2rem;
  cursor: pointer;
  
}
.market-navbar-items {
  display: table;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 80px;
  left: -100%;
  list-style-type: none;
  transition: all 1.2s ease;
  color:#000000;
}

.market-navbar-items.active {
  background: #2A0944;
  height: 100vh;
  display: table;
  padding:1px;
  color:#FA58B6;
  left: 0;
  opacity: 1;
  transition: all 1.2s ease;
  z-index: 1;
  position:fixed;
  touch-action: none;
  overflow: hidden;
  
  
}

.market-link-navbar {
  width: 80%;
  display: block;
  text-align: center;
  border: 3px solid #FA58B6;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  text-decoration: none;
  padding:0.8rem;
  margin-top:1rem;
  cursor: pointer;
  
}

.market-link-navbar:hover {
  background-color: #000000;
  transition: all 0.4s ease-out;
  color: #ffffff;
}

.market-link-text  {
  font-size:1.5rem;

}



/*desktop*/
@media screen and (min-width: 960px){
  .market-navbar-name{
    top:15px;
    font-size:1.5rem;
    margin-left:4rem;
  }
  .market-navbar{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .market-main-logo{
    position:absolute;
    padding:2.5rem;
    left:1rem;
    top:0; 
  }
  .market-menu-mobile{
    display: none;
  }
  .market-navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80px;
    position: absolute;
    top: 0rem;
    left: auto;
    right:2rem;
    list-style-type: none;
    transition: none;
  }
  .market-link-text{
    font-size:1.4rem;
    color:#FA58B6;
    
  }
.market-link-navbar {
  width: auto;
  border:none;
}
.market-link-navbar:hover {
  border-bottom: 4px solid #FA58B6;
  border-radius: 0px;
  transition: all 0.3s ease-out;
  background-color: #00000000;  
  }
}

/*big screen*/
@media screen and (min-width: 1200px){
  .market-navbar-name{
    font-size:2rem;
    margin-left: 5rem;
    top:0.2rem;
  }
  .market-navbar-items{
    width:auto;
    top:0;
    gap:0;
  }
  .market-main-logo{
    padding:2.5rem;
    margin-left: 2rem;
  }
  .market-text-item{
    color:#FA58B6;
    font-size:2rem;
  }
  .market-link-navbar{
    padding: 0.5rem 1.4rem;
  }
  .market-link-text{
    font-size:1.8rem;
  }

}

/*small screen*/
@media screen and (max-width:300px){
  .market-navbar-name{
    display: none;
  }
}
