/* width */
::-webkit-scrollbar {
  width: 0.8rem;

}

/* Track */
::-webkit-scrollbar-track {
  background-color:#313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f5f5f;
}
