.partners-section {
  background-color: #2a0944;
  padding-bottom: 10rem;
}

.partners-container {
  background-color: #2a0944;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5rem;
}

