.team-section{
    background-color: #2a0944;
  }
  .team-header {
    font-size:3rem;
    color:aliceblue;
    text-align:center;
    padding-top:10rem;
    animation: header-animation 5s infinite ease-in alternate;
  }
  
  .team-container{
    display:flex;
    flex-wrap: wrap;
    height: auto;
    justify-content:center;
    align-content: space-around;
    padding:2rem;
    gap:3rem;
    width: 80%;
    margin-left:10%;
  
}